<div class="container">
  <a *ngIf="jwt" mat-raised-button color="primary" routerLink="/add-product">Ajout d'un produit</a>

  <div class="row">
    <div *ngFor="let product of productList" class="col-sm-12 col-md-6 col-xl-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ product.nom }}</mat-card-title>
            <mat-card-subtitle>aliments</mat-card-subtitle>
            <img mat-card-lg-image src="http://localhost:3000/{{ product.image }}" alt="">
          </mat-card-title-group>

        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngIf="product.calorie">Calorie : {{ product.calorie }}</li>
            <li *ngIf="product.lipide">Lipide : {{ product.lipide }}</li>
            <li *ngIf="product.glucide">Glucide : {{ product.glucide }}</li>
            <li *ngIf="product.proteine">Protéine : {{ product.proteine }}</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <a mat-button mat-raised-button color="primary" [routerLink]="['/edit-product', product.id]">Modifier</a>
          <button *ngIf="jwt?.admin" mat-button mat-raised-button color="warn" (click)="onDelProduct(product.id)">Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
